In [21]:
import re
import pandas as pd

In [26]:
mail_test = "Salut, J’ai besoin de la salle 736 le 17 janvier entre 8 h et 10 h."
 ## query recuperer mail

motif = "[a-zA-Z]+\s(\d+)[^\d]+([\d]+)\s*([a-zA-Z]+)[^\d]+([\d]+)[^\d]+([\d]+)"
res_mail = re.findall(motif,mail_test)
res_mail

## plus traitement ordre et format des données

[('736', '17', 'janvier', '8', '10')]

In [27]:
## converti en dataframe

data = pd.DataFrame(res_mail,columns = [ 'res_date' , 'res_heure_arrive' , 'res_heure_depart', 'res_temps_reserver', 'sa_id'] )
data

  res_date res_heure_arrive res_heure_depart res_temps_reserver sa_id
0      736               17          janvier                  8    10

In [ ]:
# query pour recuperer les reservation 

## et comparer le dataframe de mail avec les reservation 

# et inserer si dispo sinon ne pas inserer + message erreur

In [28]:
data2 = pd.DataFrame(res_mail,columns = [ 'res_date' , 'res_heure_arrive' , 'res_heure_depart', 'res_temps_reserver', 'sa_id'] )
data2

  res_date res_heure_arrive res_heure_depart res_temps_reserver sa_id
0      736               17          janvier                  8    10

In [32]:
data != data2

   res_date  res_heure_arrive  res_heure_depart  res_temps_reserver  sa_id
0     False             False             False               False  False